.card {
    width: 100%;
    max-width: 240px;
    margin: auto;
  
    img {
      height: 200px;
      object-fit: cover;
    }
  
    .meta {
      margin-bottom: 8px;
    }
  
    .price {
      font-weight: bold;
      color: #2b2b2b;
      margin-bottom: 8px;
    }
  
    .addButton {
      background-color: #ffffff;
      color: #000000;
      border: 1px solid #000000;
      transition: all 0.3s ease;
    
      &:hover {
        background-color: #ffffff;
        color: #ffa94d;
        border: 1px solid #000000;
      }
    }
    
  }
  