@import '../../styles/variables';

.card {
  width: 100%;
  max-width: 240px;
  margin: auto;

  img {
    height: 200px;
    object-fit: cover;
  }

  .meta {
    margin-bottom: $spacing-sm;
  }

  .price {
    font-weight: bold;
    color: $color-text-main;
    margin-bottom: $spacing-sm;
  }

  .addButton {
    background-color: $hover-bg-light;
    color: $hover-text-dark;
    border: 1px solid $border-hover-dark;
    transition: all 0.3s ease;

    &:hover {
      background-color: $hover-bg-light;
      color: $color-primary;
      border: 1px solid $border-hover-dark;
    }
  }
}
